body {
    padding: 0;
    margin: 0;
    background-color: rgb(7, 7, 7);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 15px;
    color: rgb(140, 151, 161);

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 605px;
    border: 0px, 0px, 1px, 0px;
    background-image: url('/assets/images/banner.png'), linear-gradient(rgb(23, 55, 70), rgb(14, 15, 15));
    text-align: center;
    border-bottom: 1px solid 
    rgba(51, 168, 219, 1);
    
}
header p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 15px;
    width: 400px;
    color: rgb(140, 151, 161);
    text-align: center;
}
header h1 {
    height: 50px;
    font-family: fantasy;
    color: rgb(40, 141, 184);
}
header button {
    width: 200px;
    height: 40px;
    border: 1px  solid rgb(44, 142, 184);
    background-color: rgba(62, 238, 238, 0);
    color: rgba(51, 168, 219, 1);
}
#course-content {
    background-color: rgb(0, 0, 0);
    color: rgb(187, 167, 167);
    height: 450px;
    padding-top: 100px;
}    
#course-content h2 {
    color: rgb(40, 141, 184);
    display: flex;
    justify-content: center;
    font-size: 30px;    
}
.module {
    border: solid 1px rgb(40, 141, 184);
    border-radius: 50px;
    height: 40px;
    width: 500px;
    display: flex;
    position: relative;
    justify-content: center;
    left: 400px;
    background: rgb(65, 58, 58);
    padding-top: 20px;
    margin-top: 20px;
}
.module span {
    color: rgb(40, 141, 184);
}
.module p {
    color: white;
    text-align: center;   
}
.mulher {
    height: 400px;
    width: 100%;
    background-image: url('..//images/woman-code.png'), linear-gradient(rgba(101, 105, 116, 0.521), rgb(17, 117, 231));
    background-size: cover;
    background-attachment: fixed;
    border: 1px solid 
    rgba(51, 168, 219, 1);
}
.mulher p {
    margin: 0px;
    color: rgb(248, 248, 248);
    font-family: fantasy;
    font-size: 40px;
    white-space: pre;
    text-shadow: 3px 2px rgb(3, 122, 233);
    position: relative;
    left: -200px;
}
main {
    text-align: center;
    border-bottom: solid 1px rgb(3, 122, 233) ;
}
main p {
    position: relative;
    left: 200px;
    width: 900px;
    margin-bottom: 30px;
}
footer {
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
#professional-challenges {
    margin-bottom: 50px;
}
#professional-challenges h2 {
    color: rgb(40, 141, 184);
    font-size: 32px;
    height: 76px;
    margin-top: 100px;
}
